# Dependências
/src/vendor/
/src/node_modules/
/src/.npm/
/src/.node_repl_history

# Build
/src/public/hot
/src/public/storage

# Storage
/src/storage/*.key
/src/storage/app/*
!/src/storage/app/public/

/src/storage/framework/cache/*
/src/storage/framework/sessions/*
/src/storage/framework/views/*
/src/storage/logs/*

# Cache
/src/bootstrap/cache/*

# Ambiente
/src/.env
/src/.env.*
!/src/.env.example

# PHPUnit
/src/.phpunit.result.cache

# Docker
/.docker/mysql/data/
/.docker/nginx/log/
/.docker/mailpit/data/

# Arquivos do sistema
.DS_Store
Thumbs.db

# Bash
/src/.bash_history

# Composer
/src/.composer/